@font-face {
    font-family: 'Bitter Rose DEMO';
    src: url(../fonts/BitterRoseDEMO-Regular.woff2);
}
@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/CenturyGothic.woff2);
}

