.watsapp-png {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    background: #005E38;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    /* gap is unnecessary unless this is a container for multiple elements */
}

.call-png {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    background: #C1A269;
    aspect-ratio: 1 / 1;
    /* gap is also not needed here */
}

.contact-info p {
    color: #5E5E5E;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-info h3 {
    color: #01411C;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 109.091% */
    text-transform: capitalize;
}

.info-block p {
    color: #5E5E5E;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-block h3 {
    color: #C1A269;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 109.091% */
    text-transform: capitalize;
}

.logo-img {
    width: 220px;
    height: 100px;
    flex-shrink: 0;
    aspect-ratio: 11/5;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.custome-li-alignments {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}



.custome-li-umrah {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.custome-li-alignments:hover,
.custome-li-umrah:hover {
    color: #FACE8D;
    transform: scale(1.05);
    /* letter-spacing: 0.5px; */
    transition: color 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}


.dropdown {
    position: static;
}

.background-color {
    border: 1px solid var(--Main-Stroke, rgba(255, 255, 255, 0.70));
    opacity: 0.68;
    background: #000;
    backdrop-filter: blur(91.55000305175781px);
    width: 100%;
    /* height: 105px; */
    flex-shrink: 0;

}

.header {
    position: relative;
    z-index: 10;
}

.dropdown-toggle::after {
    display: none !important;
    color: white;
}

.custom-dropdown {
    width: 316px;
    height: 805px;
    flex-shrink: 0;
    border-radius: 30px;
    /* background: rgba(39, 39, 39, 0.80); */
    backdrop-filter: blur(8.100000381469727px);
}

.dropdown-icon-change {
    width: 24px;
    height: 24px;
    fill: #FACE8D;
}

.dropdown-menu {
    position: absolute;
    z-index: 9999 !important;
}

.dropdown-menu {
    border-radius: 0px 0px 30px 30px;
    background: rgba(39, 39, 39, 0.80);
    backdrop-filter: blur(8.100000381469727px);
}

.dropdown-menu .dropdown-item {
    color: white;
    /* Ensure readability */
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent !important;
    color: #FACE8D;
    transition: 0.4s ease-in-out;
    /* font-size: 22px; */
}





.dropdown-item {
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}


.dropdown-divider {
    width: 244px;
    height: 0.5px;
    background: rgba(255, 255, 255, 0.80);
    margin-inline: 1rem;
}

.hero-section {
    position: relative;
    z-index: 1;
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 0.467px solid #FFF;
    isolation: isolate;
    /* Important */
    overflow: visible;
    /* Prevent clipping */
}

.background-img {
    background-image: url(../images/kaaba-in-black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%;
    height: 88vh; */
    /* height: 853px; */

}

.custome-margin-top {
    margin-top: 5%;
}

.hero-subtitle-width {
    width: 51%;
}

.hero-subtitle {
    color: #FFF;
    text-align: center;
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-form-width {
    width: 70%;

}

.custom-label {
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.form-control {
    background: rgba(255, 255, 255, 0.1);
    /* semi-transparent */
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(10px); */
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    /* or black if background is light */
    border-radius: 10px;

}

.form-control:focus {
    background: rgba(255, 255, 255, 0.1);
    /* semi-transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    /* or black if background is light */
}

.form-control::placeholder {
    color: #AAA;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}

.explore-btn {
    display: flex;
    height: 40px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #DB8F51;
    background: #F6B24A;
    color: #000;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.explore-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
}

.explore-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #FFF;
    z-index: -1;
    transition: width 0.5s ease;
}

.explore-btn:hover::before {
    width: 100%;
}

.explore-btn:hover {
    border-color: #FFF;
}


/* .explore-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    height: 40px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #DB8F51;
    background: #F6B24A;
    color: #000;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.explore-btn::before,
.explore-btn::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: #FFF;
    z-index: -1;
    transition: width 0.4s ease;
}

.explore-btn::before {
    right: 50%; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.explore-btn::after {
    left: 50%; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-delay: 0.4s; 
}

.explore-btn:hover::before {
    width: 50%;
}

.explore-btn:hover::after {
    width: 50%;
} */




.custome-margin-bottom {
    margin-bottom: 10%;
}



.hover-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
}

.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #FACE8D;
    transition: width 0.3s ease;
}

.hover-underline:hover::after {
    width: 100%;
}






.offcanvas {
    background-color: black;
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 0px;
}

.offcanvas-header .btn-close {
    filter: invert(1);
}


.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #F8D49E !important;
    /* font-size: 20px; */
    transition: 0.5s ease-in-out;
}

.down-icon {
    width: 18px;
    height: 18px;
}

.bg-yellow {
    border-radius: 30px;
    background: #C1A269;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 20px; */
}

.stats-item h2 {
    color: #FFF;
    font-family: 'Judson';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stats-item sup {
    color: #FFF;
    font-family: 'Judson';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stats-item p {
    color: #FFF;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.umrah-package {
    color: #000;
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.umrah-package-p {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: center;
}

.text-img1 h3 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
}

.text-img1 p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 469px;
}

.text-img2 h3 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
}

.text-img2 p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Popular-pkg {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.Popular-pkg-p {
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.section-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

.white-icon-dropdown {
    background-image: url("../images/crevion-white.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 26px 26px;
    color: white;
    background-color: #f9b854;
    /* optional */
}

.holidays-btn {
    font-family: 'Inter';
    border: none;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    font-size: 16px;
}

.custom-button:hover {
    background: #F6B24A;
    border-radius: 6px;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.custome-button {
    background-color: #F6B24A;
    font-family: 'Inter';
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.custome-button:hover {
    background: white;
    border-radius: 6px;
    color: black;
    border-radius: 10px;
}

.star-wrapper2 {
    background-color: #ffffff;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 6px;

}

.star-wrapper2 .star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../images/greenstar.svg");
    background-size: cover;
    transition: background-image 0.3s;
}

.star-wrapper2:hover {
    background-color: #F6B24A;
}

.star-wrapper2:hover .star {
    background-image: url("../images/white-star.svg");
}

.btn-check:checked+.custom-button,
.btn-check:checked+.custome-button {
    background-color: #005E38;
    /* or your desired selected color */
    color: white;
    /* or your preferred text color */
    box-shadow: 0px 2px 6.6px rgba(0, 0, 0, 0.16), 0px 6px 10px rgba(0, 0, 0, 0.10);
}

input[type="radio"]:checked+.star-wrapper2,
input[type="radio"]:checked+.star-wrapper {
    background-color: #005E38;
}

input[type="radio"]:checked+.star-wrapper2 .star,
input[type="radio"]:checked+.star-wrapper .star {
    background-image: url("../images/white-star.svg");
}



.star-wrapper {
    background-color: #F6B24A;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 6px;
}

.star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../images/white-star.svg");
    background-size: cover;
    transition: background-image 0.3s;
}

.star-wrapper:hover {
    background-color: #ffffff;
}

.star-wrapper:hover .star {
    background-image: url("../images/yellow-star.svg");
}

.custom-btn {
    background: #F6B24A;
    font-family: 'Inter';
    color: white;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.custom-btn.active {
    background: #F6B24A;
}

.custom-card {
    /* width: 32.333%; */
    border-radius: 16px;
    border: 1px solid #F6B24A;
    background: #FFF;
    box-shadow: 0px 4.428px 17.712px 0px rgba(158, 158, 158, 0.25);
}

.package-title {
    color: #000;
    font-family: 'Judson';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.package-duration {
    color: #000;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.city-name {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.facilisis {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
}

.price {
    color: #000;
    font-family: 'Judson';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    /* 105.556% */
}

.price-person {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.book-now-btn {
  position: relative;
  color: #000;
  font-family: 'Judson';
  font-size: 16px;
  font-weight: 400;
  display: flex;
  width: 126px;
  height: 36px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #F6B24A;
  background: #F6B24A;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease;
}

.book-now-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #005E38; /* Hover fill color */
  z-index: -1;
  transition: width 0.5s ease;
}

.book-now-btn:hover::before {
  width: 100%;
}

.book-now-btn:hover {
  color: #FFF;
}

/* .explore-btn-btn {
    color: #000;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    height: 50px;
    padding: 33px 59px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: transparent;
} */

.card-header {
    background-color: #FFF;
}

.img-filter {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: #005E38;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.details-btn {
    color: #C1A269;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    /* width: 356px; */
    width: 100%;
    height: 46px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #C1A269;
    text-decoration: none;
}

.details-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease;
}

.details-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #C1A269;
    z-index: -1;
    transition: width 0.5s ease;
}

.details-btn:hover::before {
    width: 100%;
}

.details-btn:hover {
    border-color: #C1A269;
    color: #FFF;
}






@media (max-width:1919px) {
    .background-img {
        width: auto;
    }

    .text-img1 p {
        width: auto;
    }
}


@media (max-width:1180px) {
    .hero-subtitle-width {
        width: 100%;
    }

    .hero-form-width {
        width: 100%;
    }

    .info-block {
        display: none !important;
    }

    .contact-info {
        display: none !important;
    }

    /* .dropdown-divider {
        width: auto;
    } */
    .hero-subtitle {
        font-size: 32px;
    }

    .custom-label,
    .form-control::placeholder {
        font-size: 16px;
    }

    .umrah-package {
        font-size: 32px;
    }

    .text-img1 h3 {
        font-size: 32px;
        line-height: normal;
    }

    .text-img1 p {
        line-height: normal;
        font-size: 11px;
    }

    .text-img2 h3 {
        font-size: 32px;
        line-height: normal;
    }

    .text-img2 p {
        line-height: normal;
        font-size: 11px;
    }
}

@media (max-width:992px) {


    .logo-img {
        width: 47px;
        height: 52px;
        flex-shrink: 0;
        aspect-ratio: 47/52;
    }

    .d-none {
        display: block !important;
    }

    .d-block {
        display: none !important;
    }

    .trustpilot-logo {
        width: 71px;
        height: 15px;
        flex-shrink: 0;
        aspect-ratio: 71/15;
    }

    .certificates-logo {
        width: 53px;
        height: 19px;
        flex-shrink: 0;
        aspect-ratio: 53/19;
    }

    /* .background-img {
        padding-top: 20px;
    } */

    .hero-subtitle {
        font-size: 26px;
    }

    .custom-label,
    .form-control::placeholder {
        font-size: 14px;
    }

    .explore-btn {
        width: 100%;
    }

    .umrah-package {
        font-size: 28px;
    }

    .umrah-package-p {
        font-size: 15px;
    }

    .text-img1 h3 {
        font-size: 28px;
        line-height: normal;
    }

    .text-img1 p {
        line-height: normal;
        font-size: 11px;
    }

    .text-img2 h3 {
        font-size: 28px;
        line-height: normal;
    }

    .text-img2 p {
        line-height: normal;
        font-size: 11px;
    }

    .margin-on-small {
        margin-inline-start: 20px;
    }

    .Popular-pkg {
        font-size: 35px;
    }

}

@media (max-width:667px) {
    .custom-dropdown {
        max-height: 200px;
    }

    .hero-section {
        width: 90%;
    }

    .explore-btn {
        font-size: 16px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .custom-label,
    .form-control::placeholder {
        font-size: 12px;
    }

    .umrah-package {
        font-size: 24px;
    }

    .umrah-package-p {
        font-size: 14px;
    }

    .text-img1 h3 {
        font-size: 24px;
        line-height: normal;
    }

    .text-img1 p {
        line-height: normal;
        font-size: 10px;
    }

    .text-img2 h3 {
        font-size: 24px;
        line-height: normal;
    }

    .text-img2 p {
        line-height: normal;
        font-size: 10px;
    }

    .img-h {
        height: 222px;
        width: 100%;
    }

    .Popular-pkg {
        font-size: 33px;
    }
}

@media (max-width: 576px) {
    .stats-item h2 {
        font-size: 28px;
    }

    .stats-item sup {
        font-size: 20px;
    }

    .stats-item p {
        font-size: 14px;
    }

    .umrah-package {
        font-size: 20px;
    }

    .umrah-package-p {
        font-size: 13px;
    }

    .text-img1 h3 {
        font-size: 20px;
        line-height: normal;
    }

    .text-img1 p {
        line-height: normal;
        font-size: 10px;
    }

    .text-img2 h3 {
        font-size: 20px;
        line-height: normal;
    }

    .text-img2 p {
        line-height: normal;
        font-size: 10px;
    }

    .img-h {
        height: 200px;
        width: 100%;
    }

    .Popular-pkg {
        font-size: 23px;
    }
}