.watsapp-png {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    background: #005E38;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    /* gap is unnecessary unless this is a container for multiple elements */
}

.call-png {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    background: #C1A269;
    aspect-ratio: 1 / 1;
    /* gap is also not needed here */
}

.contact-info p {
    color: #5E5E5E;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-info h3 {
    color: #01411C;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 109.091% */
    text-transform: capitalize;
}

.info-block p {
    color: #5E5E5E;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-block h3 {
    color: #C1A269;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 109.091% */
    text-transform: capitalize;
}

.logo-img {
    width: 220px;
    height: 100px;
    flex-shrink: 0;
    aspect-ratio: 11/5;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.custome-li-alignments {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}



.custome-li-umrah {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.custome-li-alignments:hover,
.custome-li-umrah:hover {
    color: #FACE8D;
    transform: scale(1.05);
    /* letter-spacing: 0.5px; */
    transition: color 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}


.dropdown {
    position: static;
}

.background-color {
    border: 1px solid var(--Main-Stroke, rgba(255, 255, 255, 0.70));
    opacity: 0.68;
    background: #000;
    backdrop-filter: blur(91.55000305175781px);
    width: 100%;
    /* height: 105px; */
    flex-shrink: 0;

}

.header {
    position: relative;
    z-index: 10;
}

.dropdown-toggle::after {
    display: none !important;
    color: white;
}

.custom-dropdown {
    width: 316px;
    height: 805px;
    flex-shrink: 0;
    border-radius: 30px;
    /* background: rgba(39, 39, 39, 0.80); */
    backdrop-filter: blur(8.100000381469727px);
}

.dropdown-icon-change {
    width: 24px;
    height: 24px;
    fill: #FACE8D;
}

.dropdown-menu {
    position: absolute;
    z-index: 9999 !important;
}

.dropdown-menu {
    border-radius: 0px 0px 30px 30px;
    background: rgba(39, 39, 39, 0.80);
    backdrop-filter: blur(8.100000381469727px);
}

.dropdown-menu .dropdown-item {
    color: white;
    /* Ensure readability */
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent !important;
    color: #FACE8D;
    transition: 0.4s ease-in-out;
    /* font-size: 22px; */
}





.dropdown-item {
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}


.dropdown-divider {
    width: 244px;
    height: 0.5px;
    background: rgba(255, 255, 255, 0.80);
    margin-inline: 1rem;
}

.hero-section {
    position: relative;
    z-index: 1;
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 0.467px solid #FFF;
    isolation: isolate;
    /* Important */
    overflow: visible;
    /* Prevent clipping */
}

.background-img {
    background-image: url(../images/kaaba-in-black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%;
    height: 88vh; */
    /* height: 853px; */

}

.custome-margin-top {
    margin-top: 5%;
}

.hero-subtitle-width {
    width: 51%;
}

.hero-subtitle {
    color: #FFF;
    text-align: center;
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-form-width {
    width: 70%;

}

.custom-label {
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.form-control {
    background: rgba(255, 255, 255, 0.1);
    /* semi-transparent */
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(10px); */
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    /* or black if background is light */
    border-radius: 10px;

}

.form-control:focus {
    background: rgba(255, 255, 255, 0.1);
    /* semi-transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    /* or black if background is light */
}

.form-control::placeholder {
    color: #AAA;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}

.explore-btn {
    display: flex;
    height: 40px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #DB8F51;
    background: #F6B24A;
    color: #000;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.explore-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
}

.explore-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #FFF;
    z-index: -1;
    transition: width 0.5s ease;
}

.explore-btn:hover::before {
    width: 100%;
}

.explore-btn:hover {
    border-color: #FFF;
}


/* .explore-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    height: 40px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #DB8F51;
    background: #F6B24A;
    color: #000;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.explore-btn::before,
.explore-btn::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: #FFF;
    z-index: -1;
    transition: width 0.4s ease;
}

.explore-btn::before {
    right: 50%; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.explore-btn::after {
    left: 50%; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-delay: 0.4s; 
}

.explore-btn:hover::before {
    width: 50%;
}

.explore-btn:hover::after {
    width: 50%;
} */




.custome-margin-bottom {
    margin-bottom: 6%;
}



.hover-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
}

.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #FACE8D;
    transition: width 0.3s ease;
}

.hover-underline:hover::after {
    width: 100%;
}






.offcanvas {
    background-color: black;
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 0px;
}

.offcanvas-header .btn-close {
    filter: invert(1);
}


.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #F8D49E !important;
    /* font-size: 20px; */
    transition: 0.5s ease-in-out;
}

.down-icon {
    width: 18px;
    height: 18px;
}

.bg-yellow {
    border-radius: 30px;
    background: #C1A269;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 20px; */
}

.stats-item h2 {
    color: #FFF;
    font-family: 'Judson';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stats-item sup {
    color: #FFF;
    font-family: 'Judson';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stats-item p {
    color: #FFF;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.umrah-package {
    color: #000;
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.umrah-package-p {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: center;
}

.text-img1 h3 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
}

.text-img1 p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 469px;
}

.text-img2 h3 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
}

.text-img2 p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Popular-pkg {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.Popular-pkg-p {
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.dis-block {
    display: block;
}

.section-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

.white-icon-dropdown {
    background-image: url("../images/crevion-white.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 26px 26px;
    color: white;
    background-color: #f9b854;
    /* optional */
}

.holidays-btn {
    font-family: 'Inter';
    border: none;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    font-size: 16px;
}

.days {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-button:hover {
    background: #F6B24A;
    border-radius: 6px;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.custome-button {
    background-color: #F6B24A;
    font-family: 'Inter';
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.custome-button:hover {
    background: white;
    border-radius: 6px;
    color: black;
    border-radius: 10px;
}

.star-wrapper2 {
    background-color: #ffffff;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 6px;

}

.star-wrapper2 .star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../images/greenstar.svg");
    background-size: cover;
    transition: background-image 0.3s;
}

.star-wrapper2:hover {
    background-color: #F6B24A;
}

.star-wrapper2:hover .star {
    background-image: url("../images/white-star.svg");
}

.btn-check:checked+.custom-button,
.btn-check:checked+.custome-button {
    background-color: #005E38;
    /* or your desired selected color */
    color: white;
    /* or your preferred text color */
    box-shadow: 0px 2px 6.6px rgba(0, 0, 0, 0.16), 0px 6px 10px rgba(0, 0, 0, 0.10);
}

input[type="radio"]:checked+.star-wrapper2,
input[type="radio"]:checked+.star-wrapper {
    background-color: #005E38;
}

input[type="radio"]:checked+.star-wrapper2 .star,
input[type="radio"]:checked+.star-wrapper .star {
    background-image: url("../images/white-star.svg");
}



.star-wrapper {
    background-color: #F6B24A;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 6px;
}

.star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../images/white-star.svg");
    background-size: cover;
    transition: background-image 0.3s;
}

.star-wrapper:hover {
    background-color: #ffffff;
}

.star-wrapper:hover .star {
    background-image: url("../images/yellow-star.svg");
}

.custom-btn {
    background: #F6B24A;
    font-family: 'Inter';
    color: white;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.custom-btn.active {
    background: #F6B24A;
}

.custom-card {
    /* width: 32.333%; */
    border-radius: 16px;
    border: 1px solid #01411C;
    background: #FFF;
    box-shadow: 0px 4.428px 17.712px 0px rgba(158, 158, 158, 0.25);
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid #F6B24A;

}


.package-title {
    color: #000;
    font-family: 'Judson';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.package-duration {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: normal;
}

.city-name {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.facilisis {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
}

.price {
    color: #000;
    font-family: 'Judson';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    /* 105.556% */
}

.price-person {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.book-now-btn {
    position: relative;
    color: #000;
    font-family: 'Judson';
    font-size: 16px;
    font-weight: 400;
    display: flex;
    width: 126px;
    height: 36px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #C1A269;
    background: #C1A269;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease;
    text-decoration: none;
}

.book-now-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #FFF;
    /* Hover fill color */
    z-index: -1;
    transition: width 0.5s ease;
    color: #000;
}

.book-now-btn:hover::before {
    width: 100%;
}

.book-now-btn:hover {
    /* color: #FFF; */
    color: #000;

}

/* .explore-btn-btn {
    color: #000;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    height: 50px;
    padding: 33px 59px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: transparent;
} */

.card-header {
    background-color: #FFF;
}

.img-filter {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: #005E38;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.16), 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.details-btn {
    color: #C1A269;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    /* width: 356px; */
    width: 100%;
    height: 46px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #C1A269;
    text-decoration: none;
}

.details-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease;
}

.details-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #C1A269;
    z-index: -1;
    transition: width 0.5s ease;
}

.details-btn:hover::before {
    width: 100%;
}

.details-btn:hover {
    border-color: #C1A269;
    color: #FFF;
}



.scroll-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.scroll-content {
    display: flex;
    width: max-content;
    animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scroll-content img {
    margin-right: 20px;
    flex-shrink: 0;
    height: 70px;

}

.scroll-container h2 {
    color: #000;
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


.about-feature-title {
    color: #C1A269;
    font-family: 'Judson';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 31.2px */
}


.about-text {
    color: var(--Color-2, #555);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.about-text-p {
    color: var(--text, #5E5E5E);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.about-subtitle {
    color: var(--dark, #131313);
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.about-title {
    color: #C1A269;
    /* leading-trim: both;
text-edge: cap; */
    font-family: "Gothic A1";
    font-size: 14px;
    font-style: normal;
    font-weight: 900;

    /* letter-spacing: 2.8px; */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section {
    padding-top: 170px;
}

.section-subtitle {
    color: var(--dark, #131313);
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.section-text {
    color: var(--text, #5E5E5E);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.section-link {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #C1A269;
    background: #C1A269;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    transition: color 0.5s ease;
}

.section-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #fff;
    z-index: -1;
    transition: width 0.5s ease;
}

.section-link:hover::before {
    width: 100%;
}

.section-link:hover {
    color: #C1A269;
}


.box {
    display: flex;
    width: 306px;
    height: 256px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--border, #E5E5E5);
    background: var(--light, #FAFAFA);
}

.box-text {
    width: 100%;
}

.box-text-area {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--overlay-primary-5, rgba(209, 155, 86, 0.05));
}

.box-text-area p {
    color: var(--text, #5E5E5E);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    flex: 1 0 0;
}

.our-hotel {
    color: var(--dark, #131313);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.negitive-margin-top {
    margin-top: -50px;
}

.overflow-on-cards {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.overflow-on-cards::-webkit-scrollbar {
    display: none;
}


/* Hide default navigation arrows */
.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-buttons {
    display: flex;
    gap: 0;
    font-size: 0;
    /* removes inline space */
}


.custom-next {
    right: 30px;
}

.custom-prev {
    right: 30px;
}


/* Custom button styles */
.swiper-buttons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    /* Ensure buttons are on top */
    display: flex;
    /* gap: 10px; */
}

.custom-prev,
.custom-next {
    background: none;
    border: none;
    width: 32px;
    /* Adjust size */
    height: 32px;
    /* Adjust size */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}




.custom-prev {
    background-image: url('../images/left-arrow.svg');
}

.custom-next {
    background-image: url('../images/right-arrow.svg');
}







.custom-prev2,
.custom-next2 {
    background: none;
    border: none;
    width: 32px;
    /* Adjust size */
    height: 32px;
    /* Adjust size */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}




.custom-prev2 {
    background-image: url('../images/left-arrow.svg');
}

.custom-next2 {
    background-image: url('../images/right-arrow.svg');
}

.custom-next2 {
    right: 30px;
}

.custom-prev2 {
    right: 30px;
}










/* Ensure slides have the desired look */
.costome-slide {
    border-radius: 16px;
    background: rgba(193, 162, 105, 0.15);
    /* width: 1320px; */
    /* height: 335px;    */
    flex-shrink: 0;
    /* aspect-ratio: 264/67; */
}

.testimonials-p {
    color: var(--Color-2, #555);
    font-family: 'Inter';
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}

.testimonials-heading {
    color: #000;

    /* H5 */
    font-family: 'Lora';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 31.2px */
}

.testimonials-designation {
    color: #C1A269;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.img-sm-md-fluid {
    width: auto;
    height: auto;
}

.testimonials {
    color: var(--dark, #131313);
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: capitalize;
    width: 635px;
}

.special-place {
    width: 334px;
    color: #000;
    font-family: 'Judson';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.special-place-date {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.special-place-p {
    color: #000;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 334px;
}

.about-p {
    color: var(--dark, #131313);
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: capitalize;
    width: 391px;
}

.bg-accordian {
    background: rgba(193, 162, 105, 0.15);
    /* width: 1920px; */
    /* height: 731px; */
    flex-shrink: 0;
    /* aspect-ratio: 1920/731;  */
}

.accordion-heading {
    color: #000;
    text-align: center;
    font-family: 'Judson';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.accordion-para {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.accordion-button {
    color: #5E5E5E;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 26px */

}

.accordion-body {
    color: #5E5E5E;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.accordion-button:not(.collapsed) {
    color: #C1A269;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 26px */
}

.accordion-button,
.accordion-body {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.accordion-item {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 4px;
    border: 1px solid #5E5E5E;
    border-top: 1px solid #5E5E5E;
}

/* Add top border only for non-first items */
.accordion-item:not(:first-child) {
    border-top: 1px solid #5E5E5E;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C1A269'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.expert-text {
    width: 569px;
    color: var(--text, #5E5E5E);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.service-form {
    border-radius: 16px;
    border: 1px solid #C1A269;
    width: 660px;
    height: 692px;
    flex-shrink: 0;
}

.form-title {
    color: #000;
    /* text-align: center; */
    font-family: 'Judson';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-check-label {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-check-input:checked {
    background-color: #005E38;
    border-color: #005E38;
    border-width: 2px;
    /* Ensure the border is visible */
    background-image: radial-gradient(circle, #005E38 50%, transparent 50%);
}

.form-label {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.custom-input {
    display: inline-flex;
    height: 50px;
    /* padding: 15px 480px 16px 16px; */
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #5E5E5E;
}

.select-any-text {
    color: #5E5E5E;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}

/* Hide the radio inputs */
.custom-radio-input {
    display: none;
}

/* Default button styles */
.custom-date-btn {
    border-radius: 8px;
    background: #B2B2B2;
    display: flex;
    width: 174px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #FFF;
    font-family: "Gothic A1";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 8px;

}

/* Hover effect */
.custom-date-btn:hover {
    background-color: #8e8e8e;
}

/* Selected style */
.custom-radio-input:checked+.custom-date-btn {
    background-color: #005E38;
}

.custom-submit-btn {
    border-radius: 8px;
    background: var(--primary, #D19B56);
    display: flex;
    width: 540px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--light, #FAFAFA);

    /* link/normal */
    font-family: "Gothic A1";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    text-transform: capitalize;
}


.custom-submit-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease;
}

.custom-submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #FFF;
    z-index: -1;
    transition: width 0.5s ease;
}

.custom-submit-btn:hover::before {
    width: 100%;
}

.custom-submit-btn:hover {
    border-color: #C1A269;
    color: #000;

}

.custom-input{
    color: #000;
}



@media (max-width:1919px) {
    .background-img {
        width: auto;
    }

    .text-img1 p {
        width: auto;
    }

    .special-place-p {
        width: auto;
    }

    .special-place {
        width: auto;
    }

    .expert-text {
        width: auto;
    }

    .custom-date-btn {
        width: auto;
    }


}

@media (max-width:1400px) {
    .about-section {
        padding-top: 100px;
    }

    .about-p {
        width: auto;
    }
}


@media (max-width:1180px) {
    .hero-subtitle-width {
        width: 100%;
    }

    .hero-form-width {
        width: 100%;
    }

    .info-block {
        display: none !important;
    }

    .contact-info {
        display: none !important;
    }

    /* .dropdown-divider {
        width: auto;
    } */
    .hero-subtitle {
        font-size: 32px;
    }

    .custom-label,
    .form-control::placeholder {
        font-size: 16px;
    }

    .umrah-package {
        font-size: 32px;
    }

    .text-img1 h3 {
        font-size: 32px;
        line-height: normal;
    }

    .text-img1 p {
        line-height: normal;
        font-size: 11px;
    }

    .text-img2 h3 {
        font-size: 32px;
        line-height: normal;
    }

    .text-img2 p {
        line-height: normal;
        font-size: 11px;
    }

    .about-subtitle {
        font-size: 32px;
    }

    .about-section {
        padding-top: 70px;
    }

    .testimonials {
        width: auto;
    }

    .img-sm-md-fluid {
        display: none;
    }

    .accordion-heading {
        font-size: 32px;
    }

}

@media (max-width:992px) {


    .logo-img {
        width: 47px;
        height: 52px;
        flex-shrink: 0;
        aspect-ratio: 47/52;
    }

    .d-none {
        display: block !important;
    }

    .d-block {
        display: none !important;
    }

    .trustpilot-logo {
        width: 71px;
        height: 15px;
        flex-shrink: 0;
        aspect-ratio: 71/15;
    }

    .certificates-logo {
        width: 53px;
        height: 19px;
        flex-shrink: 0;
        aspect-ratio: 53/19;
    }

    /* .background-img {
        padding-top: 20px;
    } */

    .hero-subtitle {
        font-size: 26px;
    }

    .custom-label,
    .form-control::placeholder {
        font-size: 14px;
    }

    .explore-btn {
        width: 100%;
    }

    .umrah-package {
        font-size: 28px;
    }

    .umrah-package-p {
        font-size: 15px;
    }

    .text-img1 h3 {
        font-size: 28px;
        line-height: normal;
    }

    .text-img1 p {
        line-height: normal;
        font-size: 11px;
    }

    .text-img2 h3 {
        font-size: 28px;
        line-height: normal;
    }

    .text-img2 p {
        line-height: normal;
        font-size: 11px;
    }

    .margin-on-small {
        margin-inline-start: 20px;
    }

    .Popular-pkg {
        font-size: 35px;
    }


    .scroll-container h2 {
        font-size: 28px;
    }

    .scroll-content img {
        height: 50px;
    }

    .about-section {
        padding-top: 10px;
    }

    .about-subtitle {
        font-size: 28px;
    }

    .section-link {
        display: none;
    }

    /* .img-sm-md-fluid {
        max-width: 100%;
        height: auto;
        display: block;
    } */

    .special-place {
        font-size: 20px;
    }

    .accordion-heading {
        font-size: 28px;
    }

    .accordion-para {
        font-size: 15px;
    }


    .accordion-button:not(.collapsed),
    .accordion-button {
        font-size: 18px;
    }

    .accordion-body {
        font-size: 15px;
    }

}

@media (max-width:667px) {
    .custom-dropdown {
        max-height: 200px;
    }

    .hero-section {
        width: 90%;
    }

    .explore-btn {
        font-size: 16px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .custom-label,
    .form-control::placeholder {
        font-size: 12px;
    }

    .umrah-package {
        font-size: 24px;
    }

    .umrah-package-p {
        font-size: 14px;
    }

    .text-img1 h3 {
        font-size: 24px;
        line-height: normal;
    }

    .text-img1 p {
        line-height: normal;
        font-size: 10px;
    }

    .text-img2 h3 {
        font-size: 24px;
        line-height: normal;
    }

    .text-img2 p {
        line-height: normal;
        font-size: 10px;
    }

    .img-h {
        height: 222px;
        width: 100%;
    }

    .Popular-pkg {
        font-size: 33px;
    }


    .scroll-container h2 {
        font-size: 24px;

    }

    .scroll-content img {
        height: 40px;
    }

    .about-subtitle {
        font-size: 24px;
    }

    .special-place {
        font-size: 19px;
    }

    .accordion-heading {
        font-size: 24px;
    }

    .accordion-para {
        font-size: 14px;
    }

    .accordion-button:not(.collapsed),
    .accordion-button {
        font-size: 16px;
    }

    .accordion-body {
        font-size: 14px;
    }

}

@media (max-width: 576px) {
    .stats-item h2 {
        font-size: 28px;
    }

    .stats-item sup {
        font-size: 20px;
    }

    .stats-item p {
        font-size: 14px;
    }

    .umrah-package {
        font-size: 20px;
    }

    .umrah-package-p {
        font-size: 13px;
    }

    .text-img1 h3 {
        font-size: 20px;
        line-height: normal;
    }

    .text-img1 p {
        line-height: normal;
        font-size: 10px;
    }

    .text-img2 h3 {
        font-size: 20px;
        line-height: normal;
    }

    .text-img2 p {
        line-height: normal;
        font-size: 10px;
    }

    .img-h {
        height: 200px;
        width: 100%;
    }

    .Popular-pkg {
        font-size: 23px;
    }

    .scroll-container h2 {
        font-size: 20px;

    }

    .scroll-content img {
        height: 30px;
    }


    .about-subtitle {
        font-size: 20px;
    }

    .about-text-p {
        font-size: 14px;
        line-height: normal;
    }

    .about-feature-title {
        font-size: 16px;
    }

    .about-text {
        font-size: 13px;
        line-height: normal;
    }

    .section-subtitle {
        font-size: 20px;
    }

    .section-text {
        font-size: 13px;
        line-height: normal;
    }

    .box {
        width: 275px;
        height: auto;
    }

    .box-text-area p {
        font-size: 12px;
    }

    .our-hotel {
        font-size: 14px;
    }

    .testimonials-p {
        font-size: 17px;
    }

    .testimonials {
        font-size: 20px;
    }

    .special-place {
        font-size: 18px;
    }

    .special-place-p {
        font-size: 14px;
    }

    .about-p {
        font-size: 16px;
    }

    .about-title {
        font-size: 12px;
    }

    .accordion-heading {
        font-size: 20px;
    }

    .accordion-para {
        font-size: 13px;
    }

    .accordion-button:not(.collapsed),
    .accordion-button {
        font-size: 14px;
    }

    .accordion-body {
        font-size: 13px;
    }

    .testimonials-designation {
        font-size: 12px;
    }

    .facilisis {
        font-size: 14px;
    }

    .price-person {
        font-size: 10px;
    }

    .price {
        font-size: 32px;
    }

    .city-name,
    .days {
        font-size: 14px;
    }

    .book-now-btn {
        width: auto;
        font-size: 14px;
    }

    .package-duration {
        font-size: 13px;
    }

    .package-title {
        font-size: 18px;
    }

    .custom-card-img {
        width: 95% !important;
        height: auto;
    }


}