.topnavbar{top:32px;z-index: 111; }
.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E") !important;
}

.logo{font-family:'Rubik Regular';font-size: 20px;color: #fff !important; }
.navbar-brand{padding:0px;margin-top:-2px;  }
.navbar-nav a {
color: #fff;
font-family: 'Rubik Regular';
font-size: 20px;
padding-left: 0px !important;
padding-right: 0px !important;
padding-top: 0px !important;
padding-bottom: 2px !important;	
font-style: normal;
font-weight: 400;
margin-right: 15px;
}
.navbar-nav a:hover {
color: #fff;
}
.navbar-nav .nav-link {
	color: white;
	padding: 10px 15px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
/* Hover Effect - Border from Bottom */
.navbar-nav .nav-link::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0%;
	height: 3px;
	background-color: #dc143c; /* Yellow Border */
	transition: all 0.3s ease-in-out;
	transform: translateX(-50%);
}
.navbar-nav .nav-link:hover::after {
	width: 100%; /* Expand on Hover */
}
.btnsignup{
color: #fff;
font-family: 'Rubik Regular';
font-size: 20px;
font-style: normal;
font-weight: 400;
border-radius:12px;
display: flex;
padding: 17px 29px;
justify-content: center;
align-items: center;
text-decoration: none;
}
.btnsignup:hover{
color: #fff;
font-family: 'Rubik Regular';
font-size: 20px;
font-style: normal;
font-weight: 400;
background: #DC143C;
border-radius:12px;
display: flex;
padding: 17px 29px;
justify-content: center;
align-items: center;
text-decoration: none;
}
