.background-img {
    background-image: url(../images/kaaba.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.img-1 {
    width: 76%;
}

.img-2 {
    width: 48%;
    top: 84%;
    left: 51%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

