.quote_btn {
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
    border-radius: 50px;
    border: 1px solid #010205;
    background: #010205;
    color: #FFF;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.4px;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* moves half width for seamless loop */
}

.animate-slide {
  animation: slide 20s linear infinite;
}


.search_round {
    width: 40px;
    height: 40px;
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    border: 1px solid #8C8C8C;
}

.bg_card_black {
    display: flex;
    width: 88px;
    height: 56px;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 70px;
    background: #010205;
}

.scroll_none {
    scrollbar-width: none;
}

.bg_hero{
   background-image: url("../images/bg_work.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   backdrop-filter: blur(32px);
   /* height: 600px; */
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.bg_img{
       background-image: url("../images/req_buisness.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   backdrop-filter: blur(32px);
   border-radius: 30px;
   /* height: 250px; */
}

@media(max-width:1390px) {
    .quote_btn {
        padding: 14px 34px;
        font-size: 18px;
    }
}

@media (max-width:1270px) {
    .quote_btn {
        padding: 12px 27px;
        font-size: 16px;
    }
}

@media (max-width:1024px) {
    .quote_btn {
        padding: 12px 30px;
        font-size: 16px;
    }
     .bg_card_black {
        width: 76px;
        height: 46px;
        padding: 10px 25px;
    }
}

@media (max-width:576px) {
    .quote_btn {
        padding: 8px 20px;
        font-size: 12px;
    }

    .search_round {
        width: 30px;
        height: 30px;
    }

        .bg_card_black {
        /* width: 46px;
        height: 26px; */
          width: 54px;
        height: 35px;
        padding: 4px 15px;
    }

   
}