.img-class {
    max-width: 72%;
}

.select-month {
    color: var(--text-muted, rgba(255, 255, 255, 0.80));

    /* text/large */
    font-family: "Century Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
}


.selected-month {
    color: var(--text-muted, rgba(255, 255, 255, 0.80));
    font-family: "Century Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 160%;
}

.add-to-compare {
    color: #FFF;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.add-to-compare2 {
    color: #6BAD00;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.custom-table {
    background-color: rgba(0, 0, 0, 0.5);
    border: black;
}

.custom-table th,
.custom-table td {
    background-color: transparent !important;
}

.custom-td,
.custom-th {
    color: #FACE8D;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.custom-th {
    color: #FACE8D !important;
}


.custom-table {
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}
.book-umrah{

    color: var(--text-inverse, #081212);
font-family: "Century Gothic";
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
text-align: center;
border-radius: 500px;
background: var(--background-primary, #F8D49E);
box-shadow: 0px 0px 8.6px 0px rgba(5, 5, 5, 0.30);
padding: 18px 25px;
}
.custom-table td,
.custom-table th {
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-left: none;
    border-right: none;
    background: transparent;
    padding: 28px 20px !important;
}

/* Remove top border from the first row */

.custom-table tr:first-child th {
    border-top: 1px solid transparent !important;
}

/* Remove bottom border from the last row */
.custom-table tr:last-child td {
    border-bottom: 1px solid transparent !important;
}

/* Add left border only after the first column */
.custom-table td:not(:first-child),
.custom-table th:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.10);
}

/* Add right border only before the last column */
.custom-table td:not(:last-child),
.custom-table th:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.10);
}


.custom-td {
    color: #FFF !important;
    font-family: "Century Gothic";
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 19.2px */
}

.number-cell {
    color: #FFF;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 18px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 19.2px */
}

.custom-td-h {
    color: #FFF !important;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 18px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 19.2px */
}

.packages a {
    color: var(--text-muted, rgba(255, 255, 255, 0.80));

    /* text/large */
    font-family: "Century Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
    text-decoration: none;
}

.packages h2 {
    color: var(--text-default, #FFF);
    font-family: "Century Gothic";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 40px */
}

.Affordable-pakages h2 {
    color: var(--text-default, #FFF);
    font-family: "Century Gothic";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 40px */
}

.Affordable-pakages p {
    color: var(--text-muted, rgba(255, 255, 255, 0.80));

    /* text/large */
    font-family: "Century Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
}


.sign-up-for-umrahh {
    /* width: 483px;
    height: 450px; */
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8.100000381469727px);
    /* margin-inline: 14rem; */
    /* width: 48%; */
    width: 483px;
}

.dropdown-divider {
    /* width: 284px; */
    height: 0.5px;
    background: rgba(255, 255, 255, 0.80);
    margin-inline: 1rem;
}

.dropdown-menu {
    border-radius: 30px;
    background: rgba(39, 39, 39, 0.80);
    backdrop-filter: blur(8.100000381469727px);
}

.dropdown-menu .dropdown-item {
    color: white;
    /* Ensure readability */
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent !important;
    color: #FACE8D;
    transition: 0.4s ease-in-out;
    font-size: 22px;
}

.dropdown-item {
    color: #FFF;
    font-family: "Century Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.dropdown-item-days {
    color: #FFF;
    font-family: "Century Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 32px */
    text-decoration: none;
    cursor: default !important;
}

.dropdown-header {
    color: rgba(255, 255, 255, 0.80);

    /* text/default */
    font-family: "Century Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
}

.dropdown-icon-change {
    width: 24px;
    height: 24px;
    fill: #FACE8D;
    cursor: pointer;
    ;
}

.close-icon-change {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}
.overflow-x-auto {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-bottom: 2px solid black; /* Your border */
}

.overflow-x-auto::-webkit-scrollbar {
    height: 8px;  /* Adjust scrollbar height */
    background-color: black;  /* Matches border */
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: #555;  /* Scrollbar handle */
    border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}


@media (max-width: 1400px) {
.book-umrah{
    font-size: 8px !important;
    padding: 12px 15px !important;
}
}

@media (max-width:1200px) {
    .sign-up-for-umrahh {
        width: 80%;

    }

    /* width: 48%; */
    .Affordable-pakages h2 {
        font-size: 32px;
    }

    .Affordable-pakages p {
        font-size: 18px;
    }
  
}

@media (max-width:992px) {
    .sign-up-for-umrahh {
        width: 483px;
    }

    .Affordable-pakages h2 {
        font-size: 24px;
    }
    .Affordable-pakages p {
        font-size: 16px;
    }
    .packages h2 {
        font-size: 32px;
    }
    .packages a {
        font-size: 18px;
    }
    .add-to-compare {
        font-size: 14px;
    }
    .add-to-compare2 {
        font-size: 14px;
    }
    .select-month {
        font-size: 18px;
    }
    .selected-month {
        font-size: 18px;
    }
    .book-umrah{
        font-size: 14px;
    }
    .custom-td {
        font-size: 16px !important;
    }
    .custom-td-h {
        font-size: 16px !important;
    }
    .number-cell {
        font-size: 16px !important;
    }   
    .custom-th {
        font-size: 16px !important;
    }
    .custom-table td,
    .custom-table th {
        padding: 20px 10px !important;
    }


}

@media (max-width: 768px) {
    .img-class {
        max-width: 100%;
    }

    .select-month {
        font-size: 16px;
    }

    .selected-month {
        font-size: 16px;
    }

    .add-to-compare {
        font-size: 14px;
    }

    .add-to-compare2 {
        font-size: 14px;
    }

    .packages h2 {
        font-size: 30px;
    }

    .packages a {
        font-size: 16px;
    }

    .sign-up-for-umrahh {
        width: 85%;
    }
    .book-umrah{
        font-size: 16px;
    }
    .custom-td {
        font-size: 16px !important;
    }
    .custom-td-h {
        font-size: 16px !important;
    }
    .number-cell {
        font-size: 16px !important;
    }
    .custom-th {
        font-size: 16px !important;
    }
    .custom-table td,
    .custom-table th {
        padding: 20px 10px !important;
    }
}

@media (max-width: 576px) {
    .img-class {
        max-width: 100%;
    }

    .select-month {
        font-size: 14px;
    }

    .selected-month {
        font-size: 14px;
    }

    .add-to-compare {
        font-size: 12px;
    }

    .add-to-compare2 {
        font-size: 12px;
    }

    .packages h2 {
        font-size: 25px;
    }

    .packages a {
        font-size: 14px;
    }

    .sign-up-for-umrahh {
        width: 95%;
    }
    .book-umrah{
        font-size: 14px;
    }
    .custom-td {
        font-size: 14px !important;
    }
    .custom-td-h {
        font-size: 14px !important;
    }
    .number-cell {
        font-size: 14px !important;
    }
    .custom-th {
        font-size: 14px !important;
    }
    .custom-table td,
    .custom-table th {
        padding: 15px 5px !important;
    }
}

@media (max-width: 480px) {
    .img-class {
        max-width: 100%;
    }

    .select-month {
        font-size: 12px;
    }

    .selected-month {
        font-size: 12px;
    }

    .add-to-compare {
        font-size: 10px;
    }

    .add-to-compare2 {
        font-size: 10px;
    }

    .packages h2 {
        font-size: 20px;
    }

    .packages a {
        font-size: 12px;
    }

    .sign-up-for-umrahh {
        width: 100%;
    }
}