body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

.backround-image {
  background-image: url(../images/masjid.jpg);
  background-size: cover;
  background-position: center;
  /* min-width: 100vw; */
  /* min-height: 85vh; */
  display: flex;
}

.navbar-toggler-icon {
  background-image: url(../images/menu.svg) !important;
}


.position1 {
  position: absolute;
  left: 17px;
  top: 148px;
}

.position2 {
  position: absolute;
  right: 22px;
  top: 140px;
}

.all-btn2 {
  color: #fff;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* 22.4px */
}


.Logo {
  color: #fff;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 64px */
}

.custome-margin-top {
  margin-top: 10%;
}







.post-date {
  color: var(--text-muted, rgba(255, 255, 255, 0.80));

  /* text/default */
  font-family: "Century Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 25.6px */
}

.post-title {
  color: var(--text-default, #FFF);
  font-family: "Century Gothic";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 40px */
}

.post-author {
  color: var(--text-muted, rgba(255, 255, 255, 0.80));

  /* text/medium */
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.post-author-span {
  color: #FACE8D;

  /* text/medium */
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.post-content {
  color: #FFF;
  font-family: "Century Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}








.blrr-background {
  width: 632px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8.100000381469727px);
}

.video-border {
  border-radius: 16px;
  height: 200%;
  width: 100%;
}

/* .ratio {
    height: 66%;
} */

.customer-review {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 38.4px */
}

.img-2 {
  background-blend-mode: plus-lighter;
  flex-shrink: 0;
  aspect-ratio: 62/13;
}

.Customer-in-no {
  color: var(--text-primary, #face8d);
  font-family: "Century Gothic";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 187.5% */
}

.Customer {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.beat-price-btn {
  display: flex;
  width: 94%;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
  background: var(--background-primary, #f8d49e);
  box-shadow: 0px 0px 8.6px 0px rgba(5, 5, 5, 0.3);
  color: var(--text-inverse, #081212);
  font-family: "Century Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.Available {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 100% */
}

.phone-no {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.phone-no a:link,
.phone-no a:visited,
.phone-no a:active {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-decoration: none;
}

.phone-no a:hover {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.phone-no-company {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.blur-wattsapp-img {
  width: 69px;
  height: 69px;
  flex-shrink: 0;
  fill: #f8d49e;
}

.custome-li-alignments {
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}

.custome-li-umrah {
  color: #face8d;
  font-family: "Century Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.custome-li-alignments:hover {
  color: #face8d;
  transition: 0.4s ease-in-out;
  /* font-size: 17px; */
}

.custome-li-umrah:hover {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.4s ease-in-out;
  font-size: 18px;
}

.Latest-blog {
  color: var(--text-default, #fff);
  font-family: "Century Gothic";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 40px */
}

.Latest-blog-p {
  color: var(--text-muted, rgba(255, 255, 255, 0.8));

  /* text/large */
  font-family: "Century Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
}

.umrah-blog {
  color: var(--text-default, #fff);
  /* text/large */
  font-family: "Century Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
}

.umrah-blog a:link,
.umrah-blog a:visited,
.umrah-blog a:active {
  color: var(--text-default, #fff);
  /* text/large */
  font-family: "Century Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
  text-decoration: none;
}

.umrah-blog a:hover {
  color: #face8d;
}

.umrah-blog-p {
  color: #fff;

  /* text/default */
  font-family: "Century Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 25.6px */
}

.blog-border {
  border-radius: 16px;
  height: 100%;
  width: 100%;
}

.blog-border:hover {
  box-shadow: 0px 0px 8.6px 0px rgba(5, 5, 5, 0.3);
  transition: 0.4s ease-in-out;
}

.blog-item {
  position: relative;
  padding: 15px;
  border-radius: 8px;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.blog-item:hover {
  border: 1px solid #face8d;
  /* Customize border color */
  background-color: #1a1a1a;
  /* Optional: Dark background */
  cursor: pointer;
  /* Change cursor on hover */
  box-shadow: 0px 0px 8.6px 0px rgba(5, 5, 5, 0.3);
}

.hover-button {
  position: absolute;
  top: -15px;
  right: 60px;
  border: none;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
  border-radius: 6px;
  background: #face8d;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 10px;
  color: var(--text-inverse, #081212);
  /* text/small */
  font-family: "Century Gothic";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}

.blog-item:hover .hover-button {
  opacity: 1;
  transform: translateY(0);
}

.blog-image {
  transition: transform 0.3s ease;
  border-radius: 16px;
}

.blog-item:hover .blog-image {
  transform: scale(1.05);
  /* Slight zoom effect */
}

.show-more-link {
  align-self: stretch;
  color: var(--text-muted, rgba(255, 255, 255, 0.8));
  text-align: center;

  /* text/large */
  font-family: "Century Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
  text-decoration: none;
  cursor: pointer;
}

.show-more-link:hover {
  color: #face8d;
  font-size: 23px;
  transition: 0.4s ease-in-out;
}

.custom-mb {
  margin-bottom: 5rem;
  /* or any value you need */
}

.custom-mt {
  margin-top: 5rem;
  /* or any value you need */
}

.footer-logo {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  /* 28.8px */
}

.author-info {
  color: #fff;

  /* text/small */
  font-family: "Century Gothic";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}

.footer-heading {
  color: var(--text-default, #fff);

  /* heading/h6 */
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.footer-link {
  align-self: stretch;
  color: #fff;

  /* text/default */
  font-family: "Century Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 160%;
  /* 25.6px */
}

.footer-link:hover {
  color: #face8d;
  font-size: 18px;
  transition: 0.4s;
}

.footer-phone {
  color: #face8d;
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  /* 166.667% */
}

.footer-phone a:link,
.footer-phone a:visited,
.footer-phone a:active {
  color: #face8d;
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  /* 166.667% */
}

.footer-phone:hover {
  color: #face8d;
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  /* 166.667% */
}

.footer-email {
  color: var(--text-default, #fff);
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.scrollable-section {
  max-height: 100vh;
  overflow-y: auto;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.offcanvas {
  background-color: black;
  color: #fff;
  font-family: "Century Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 0px;
}

.offcanvas-header .btn-close {
  filter: invert(1);
}

.wattsapp-icon {
  width: 24px;
  height: 33px;
  flex-shrink: 0;
  fill: #f8d49e;
  margin-left: 10px;
}

@media (max-width: 992px) {
  .scrollable-section {
    max-height: none;
  }

  .display-none {
    display: block !important;
  }

  .display-block {
    display: none !important;
  }

  .Logo {
    font-size: 30px;
  }

  .phone-no-company {
    font-size: 20px;
  }

  .phone-no {
    font-size: 25px;
  }

  .fixed-top {
    /* top: 91px; */
    position: absolute;
  }

  .line {
    width: 90%;
    height: 0.5px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 70px;
  }

  .devine-journy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary, #face8d);
    font-family: "Bitter Rose DEMO";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
  }

  .nav-link {
    color: white !important;
  }

  .nav-link:hover {
    color: #f8d49e !important;
    transition: 0.5s ease-in-out;
  }
}

@media (max-width: 667px) {
  .umrah-blog {
    font-size: 14px;
    line-height: 160%;
    /* 32px */
  }

  .umrah-blog-p {
    font-size: 10px;
    line-height: 160%;
    /* 25.6px */
  }

}

@media (max-width: 576px) {
  .umrah-blog {
    font-size: 10px;
    line-height: 160%;
    /* 32px */
  }

  .umrah-blog-p {
    font-size: 8px;
    line-height: 160%;
    /* 25.6px */
  }
}

@media (max-width: 1500px) {
  .blrr-background {
    width: 570px;
    height: 340px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8.100000381469727px);
  }

  .customer-review {
    font-size: 20px;
  }

  .Customer-in-no {
    font-size: 28px;
  }

  .Customer {
    font-size: 14px;
  }
}

@media (max-width: 1400px) {
  .blrr-background {
    width: 500px;
    height: 300px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8.100000381469727px);
  }

  .customer-review {
    font-size: 18px;
  }

  .Customer-in-no {
    font-size: 26px;
  }

  .Customer {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .blrr-background {
    width: 470px;
    height: 285px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8.100000381469727px);
  }

  .customer-review {
    font-size: 16px;
  }

  .Customer-in-no {
    font-size: 24px;
  }

  .Customer {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .blrr-background {
    width: 470px;
    height: 278px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8.100000381469727px);
  }

  .customer-review {
    font-size: 16px;
  }

  .Customer-in-no {
    font-size: 24px;
  }

  .Customer {
    font-size: 14px;
  }
  .post-title{
    font-size: 34px;
  }
  .post-content{
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .blrr-background {
    width: 388px;
    height: 278px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8.100000381469727px);
  }

  .Customer-in-no {
    font-size: 18px;
  }

  .Customer {
    font-size: 12px;
  }

  .img-2 {
    width: 91%;
  }

  .footer-email {
    font-size: 16px;
  }
}
@media (max-width:1200px){
  .phone-no-company{
    font-size:32px ;
  }
  .phone-no a:link {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .Latest-blog-p {
    margin-top: 0px !important;
    margin-bottom: 0px;
  }

  .Latest-blog {
    font-size: 25px;
  }
    .post-title{
    font-size: 26px;
  }
  .post-content{
    line-height: 22px;
    font-size: 12px;
  }
}