.call_icon {
    display: flex;
    width: 46px;
    height: 46px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #130055;
}

.logo {
    color: #130055;
    font-family: 'Syne';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav_links {
    color: #130055;
    text-align: center;
    font-family: 'Syne';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.call_now p {
    color: #5E5E5E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.call_now h3 {
    color: #130055;
    font-family: 'Syne';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.d_block {
    display: block !important;
}

.d_none {
    display: none !important;
}

.bg_hero {
    background-image: url('../images/main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 700px; */
}

.bg_buisness {
    background-image: url('../images/buisness_travel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 600px; */
}

.book_flight {
    color: #130055;
    text-align: center;
    font-family: 'Syne';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inside_border {
    border-radius: 10px;
    border: 1px solid #CCC;
    width: 100%;
    height: 100%;
}

.bg_right_border {
    position: relative;
}

.bg_right_border::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    background: #CCC;
    width: 1px;
    height: 97px;
}

.search_flights {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 53px;
    padding: 14px 20px;
    border-radius: 5px;
    background: #130055;
    color: white;
    font-family: 'Syne';
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search_flights::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #78639A);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.search_flights:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #78639A;
}

.search_flights:hover::before {
    bottom: 0;
    opacity: 1;
}

.search_flights2 {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 53px;
    padding: 14px 20px;
    border-radius: 5px;
    background: #130055;
    color: white;
    font-family: 'Syne';
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search_flights2::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #78639A);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.search_flights2:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #78639A;
}

.search_flights2:hover::before {
    bottom: 0;
    opacity: 1;
}

.search_flights3 {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 53px;
    padding: 14px 20px;
    border-radius: 5px;
    background: #008147;
    color: white;
    font-family: 'Syne';
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search_flights3::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #7ad19b);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.search_flights3:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #7ad19b;
}

.search_flights3:hover::before {
    bottom: 0;
    opacity: 1;
}

.active2 span {
    background-color: #100142;
    color: white;
    border-color: transparent;
}

.active2 {
    color: #100142;
}

.active2::after {
    background-color: #100142;
}

.step-line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #E5E7EB;
    /* gray-200 */
    top: 1rem;
    /* adjust as needed */
    left: 1rem;
    /* match your layout */
}

.active2.step-line::after {
    background-color: #100142;
    /* indigo-600 */
}

.explore_card {
    /* width: 367px; */
    /* height: 122px; */
    border-radius: 10px;
    background: #EEF4FF;
}

.view_pkg {
    display: inline-flex;
    padding: 7px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #100142;
    /* background: white; */
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #100142;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view_pkg::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #130055);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_pkg:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #c0c0ff;
    color: #FFF;
    background-color: #130055;

}

.view_pkg:hover::before {
    bottom: 0;
    opacity: 1;
}

.card_breaker {
    background: rgba(16, 1, 66, 0.30);
    height: 1px;
    width: 100%;
}

.scroll_none {
    scrollbar-width: none;
}

/* .bg-explore {
    background-image: url('../images/bg_explore.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 359px;
} */

.view_deals {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    width: 218px;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #100142;
    background: white;
    color: #100142;
    font-family: 'Syne';
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view_deals::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, rgb(224, 218, 218));
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_deals:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(244, 218, 218);
}

.view_deals:hover::before {
    bottom: 0;
    opacity: 1;
}

.view_deals2 {
    display: inline-flex;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #5b479c;
    background: white;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #100142;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view_deals2::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #130055);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_deals2:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #c0c0ff;
    color: #FFF;
    background-color: #3b3550;

}

.view_deals2:hover::before {
    bottom: 0;
    opacity: 1;
}

.slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slider-track {
    display: flex;
    animation: scroll-left 30s linear infinite;
}

.gap-10 {
    display: flex;
    gap: 40px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.view_deals3 {
    display: inline-flex;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #100142;
    border: 1px solid #5b479c;
    /* background: white; */
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #FFF;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.view_deals3::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #130055);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_deals3:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #c0c0ff;
    color: #FFF;
    background-color: #3b3550;

}

.view_deals3:hover::before {
    bottom: 0;
    opacity: 1;
}

.icon_circle {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    overflow: hidden;
    transition: color 0.3s ease;
    cursor: pointer;
}

.icon_circle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #ffffff44;
    z-index: 0;
    transition: height 0.5s ease;
}

.icon_circle:hover::before {
    height: 100%;
}

.icon_circle i {
    z-index: 1;
    font-size: 16px;
    transition: color 0.3s ease;
}

.icon_circle:hover i {
    color: #000;
}

.footer_breaker {
    background: #FFF;
    height: 1px;

}

.view_deals4 {
    display: inline-flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #100142;
    border: 1px solid #5b479c;
    /* background: white; */
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #FFF;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
}


.view_deals4::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #130055);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_deals4:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #c0c0ff;
    color: #FFF;
    background-color: #3b3550;

}

.view_deals4:hover::before {
    bottom: 0;
    opacity: 1;
}

.view_deals5 {
    display: inline-flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    /* background-color: #100142; */
    border: 1px solid #5b479c;
    /* background: white; */
    position: relative;
    overflow: hidden;
    z-index: 0;
    /* color: #FFF; */
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
}


.view_deals5::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #130055);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_deals5:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #c0c0ff;
    color: #FFF;
    background-color: #3b3550;

}

.view_deals5:hover::before {
    bottom: 0;
    opacity: 1;
}

.bg_multi {
    background-image: url('../images/multi_hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.view_deals6 {
    display: inline-flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #5b479c;
    background: white;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #100142;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view_deals6::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #130055);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_deals6:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #c0c0ff;
    color: #FFF;
    background-color: #3b3550;

}

.view_deals6:hover::before {
    bottom: 0;
    opacity: 1;
}

.remove_row {
    display: inline-flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #ac3547;
    background-color: #C54A5D;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #FFF;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.remove_row::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ac3547;
    z-index: -1;
    transition: height 0.5s ease;
    border-radius: inherit;
}

.remove_row:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #ac3547;
    color: #FFF;
}

.remove_row:hover::before {
    height: 100%;
}

.add_row {
    display: inline-flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #54aa4e;
    background-color: #6B8A69;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #FFF;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add_row::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #54aa4e;
    z-index: -1;
    transition: height 0.5s ease;
    border-radius: inherit;
}

.add_row:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #54aa4e;
    color: #FFF;
}

.add_row:hover::before {
    height: 100%;
}

.bg_accordian {
    background-image: url('../images/Accordian_image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 600px; */
}


.view_deals6 {
    display: inline-flex;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #5C0731;
    border: 1px solid #5C0731;
    /* background: white; */
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #FFF;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.view_deals6::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #d897b7);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_deals6:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #5C0731;
    color: #FFF;
    background-color: #8d2a5c;

}

.view_deals6:hover::before {
    bottom: 0;
    opacity: 1;
}

.view_deals7 {
    display: inline-flex;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background-color: #5C0731;
    border: 1px solid #5C0731;
    /* background: white; */
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #FFF;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.view_deals7::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 30%, #d897b7);
    z-index: -1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.view_deals7:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #5C0731;
    color: #FFF;
    background-color: #8d2a5c;

}

.view_deals7:hover::before {
    bottom: 0;
    opacity: 1;
}





@media(max-width:1400px) {
    .nav_links {
        font-size: 16px;
    }

    .logo {
        font-size: 26px;
    }

    .call_now h3 {
        font-size: 20px;
    }

    .call_icon {
        width: 40px;
        height: 40px;
    }
}

@media(max-width:1024px) {
    .d_block {
        display: none !important;
    }

    .d_none {
        display: block !important;
    }

    .call_icon {
        width: 46px;
        height: 46px;
    }

    .book_flight {
        font-size: 30px;
    }

    .view_pkg {
        padding: 6px 28px;
    }

    .search_flights2 {
        width: auto;
        height: 45px;
    }

    .view_deals {
        width: 85px;
        font-size: 0.9rem;
        padding: 8px 28px;

    }

    .bg_accordian {
        background-image: none;
    }

    .overflow-on-scroll {
        overflow: scroll;
        height: 100vh;
    }
}

@media (max-width:576px) {
    .call_icon {
        width: 35px;
        height: 35px;
    }

    .logo,
    .book_flight {
        font-size: 20px;
    }

    .view_pkg {
        padding: 3px 18px;
    }

    .view_deals {
        width: 85px;
        font-size: 0.8rem;
        padding: 8px 28px;
    }

    .view_deals5,
    .view_deals6 {
        padding: 9px 34px;
    }

}